div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: red;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Arial;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Arial;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Arial;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Arial;
	color: #000000;
}



a:hover {
	font-weight: bold;
}




.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 450px;
	background-color: white;
	margin-bottom: 10px;
}


.li{	
	font-family: Arial;
}




#footer {
	position: relative;
	height: 50px;
	background-color: red;
	clear: both;
	font-family: Arial;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
